* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.wraper {
  width: 1110px;
  margin: auto;
}
.header {
  padding: 38px 0px 33px 0px;
  display: flex;
  justify-content: space-between;
}
.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 380px;
}
.menu_link_one {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0101;
  font-weight: bold;
}
.menu_link_one:hover {
  color: #4ec6ab;
}
.slide {
  background-image: url("../img/slide.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.slide_title {
  font-size: 57px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.slide_description {
  font-size: 24px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-stretch: 300;
}
.slide_link {
  text-decoration: none;
  color: #ffffff;
  font-size: 90px;
}

.slide_button {
  background-color: #1abc9c;
  border:1px solid #1abc9c;
  width: 105px;
}
.slide_wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 218px 0px 285px 0px;
}
.slide_caption {
  display: flex;
  flex-direction: column;
  width: 735px;
  justify-content: space-between;
  height: 110px;
}
.new_collection {
  background-color: #e9f0fd;
}
.collection_titel {
  font-size: 48px;
  text-align: center;
  padding-top: 33px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #515151;
}
.collection_titel::after {
  content: "";
  height: 7px;
  width: 164px;
  background-color: #1abc9c;
  display: block;
  margin: 32px auto 80px;
}
.collection_prise {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 97px;
}
.collection_one {
  position: relative;
  width: 255px;
}
.collection_link{
  text-decoration: none;
}
.collection_hower {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 235px;
  height: 261px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: -999;
}
.collection_img {
  display: block;
}
.collection_one:hover .collection_hower {
  z-index: 999;
}
.collection_hower_btn {
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
  border-color: #ffffff;
  border-width: 1px;
}
.collection_hower_links {
  width: 166px;
  display: flex;
  justify-content: space-between;
}
.far,
.fas,
.collection_hower_card {
  color: #ffffff;
}
.collection_hower_card {
  font-size: 30px;
  line-height: 50px;
  width: 166px;
  border-color: #ffffff;
  border-width: 1px;
  margin-top: 7px;
}
.collection_hower_link:hover {
  background-color: #1abc9c;
}
.collection_hower_card {
  background-color: #323232;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.collection_hower_card:hover {
  background-color: #1abc9c;
}
.collection_info {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
}
.collection_name,
.collection_cost {
  background-color: #323232;
  color: #ffffff;
  display: block;
  width: 201px;
  font-weight: bold;
}
.collection_cost {
  background-color: #8c8c8c;
  width: 54px;
  text-align: center;
  
}
.collection_one:hover .collection_name{
  background-color:#1abc9c; 
}
.collection_one:hover .collection_cost{
  background-color:#7fd9c7; 
}
.collection_name {
  padding-left: 15px;
}
.footer{
  width: 100%;
  background-color: #323232;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer_info{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fefefe;
}
.footer_info::after{
  content: "ThemenGraph";
  color: #3e9182;
}
