* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
.container {
  width: 901px;
  margin: auto;
}
header {
  width: 100%;
  padding-top: 77px;
  padding-bottom: 103px;
  text-align: center;
}
.site_navigation li {
  list-style-type: none;
  display: inline-block;
  margin-right: 103px;
}
.site_navigation a{
  text-align: center;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}
.site_navigation a:hover {
  color: #03a9f4;
}
.content {
  list-style-type: none;
}
.content li {
  list-style-type: none;
  display: inline-block;
  width: 420px;
}
.left_post {
  margin-right: 57px;
}
.content h2 {
  font-size: 30px;
  line-height: 80px;
}
figcaption {
  margin: 31px 0px 19px ;
}
button{ 
  display: block;
  margin: 57px auto 71px;
  padding: 22px 35px;
  background-color: white;
  border-color: #626262;
  border-width: 1px;

}
.button_link{
  text-decoration: none;
  
}
