* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}
.container {
  width: 901px;
  margin: auto;
}
header {
  width: 100%;
  padding-top: 77px;
  padding-bottom: 103px;
  text-align: center;
}
.site_navigation li {
  list-style-type: none;
  display: inline-block;
  margin-right: 103px;
}
.site_navigation a{
  text-align: center;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}
.site_navigation a:hover {
  color: #03a9f4;
}
.first {
  margin: 0px 132px 0 130px;
}
.third{
  margin 0px 0px 0px 90px;
}
.second{
  margin: 0px 110px 0px 0px;
  }
}
.content {
  list-style-type: none;
}
.content li {
  list-style-type: none;
  display: inline-block;
  width: 420px;
}
.left_post {
  margin-right: 57px;
}
.content h2 {
  font-size: 30px;
  height: 95px;
}
figcaption {
  margin: 31px 0px 19px ;
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
  height: 25px;
}
button{ 
  display: block;
  margin:0px auto 71px ;
  padding: 22px 35px;
  background-color: white;
  border-color: #626262;
  border-width: 1px;

}
.button_link{
  text-decoration: none;
  color: #626262;
  
}
.button_link:hover {
  color: #03a9f4;
}
.text{
  height: 78px;
  line-height: 24px;
}
main li {
  margin-bottom: 135px; 
}
.left_post_last_line{
  margin:0px 56px 58px 0px;
}
.right_post_last_line{
  margin-bottom: 58px
}
